/* reseat */
body{
    margin:0px;}
html, body {
    overflow-x: hidden;
}
/* banner */
.banner{
    background-image: url(images/Banner.png);
    background-position:center;
    background-size:cover;
    color: white;
    text-align: center;
    padding: 0px 0px 0px 0px;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 415px;
    display: grid;
    /* f-direction: column;} */}
.content{
    display: grid;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    /* width: 100%; Prend toute la largeur de la banner */
    /* padding-bottom: 40px;} Ajouter de l'espace en bas */
    grid-template-columns:1fr 1fr;}
#bannerVideo {
    /* width: 100%; */
    height: 415px;
    margin-left: -110px;
    /* margin-top: 0px; */
    /* border-radius: 0 183px 183px 0;} */}
.text-content {
    padding: 0 20px; /* Ajoutez un peu de marge */
    text-align: center;} /* Aligner le texte à gauche */
.banner h1{
    font-size: 64px;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 10;
    line-height: 1;
    margin-top: -22px;
    text-align: center;}
.banner p{
    font-size: 28px;
    margin-bottom: 50px;}
.btn-orange{
    text-decoration: none;
    border-radius: 50px;
    background-color: #CE5B3E;
    padding : 10px 25px;
    color:black;
    font-size: 24px;
    font-weight: 400;}
.btn-orange:hover{
    background-color: #92B6B1;
    color:white;}
.btn-down-container {
        display: flex;
        justify-content: center;}
.btn-down{
    font-size: 45px;}
.btn-down:hover{
    transform: scale(1.1);}

/* card-offre */
.contain-offre {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px;
    display: flex;
    justify-content: center;}  
.contenus {
    display: flex;
    justify-content: space-between;}
.contenu {
    flex: 0 0 calc(30% - 20px);
    margin: 0 10px;
    text-align: center;
    width: 340px;}
.contenu h2 {    
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 2.25rem;
    font-family: "Libre Baskerville", cursive;
    font-weight: 400;}   
.contenu img {
    width: 6.75rem;
    height: 6.75rem;
    line-height: 6.75rem;
    margin: 20px;}
/* parallax     */
.parallax {
    background-image:url("images/bateau.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    height: 400px; /* Ajustez la hauteur selon vos besoins */
    display: flex;
    align-items: center;
    justify-content: center;}
.section { 
    /* POTENTIELLEMENT A SUPPRIMER !!!!  */
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px; /* Ajoute un espace entre les colonnes */}
.arrow {
       /*POTENTIELLEMENT A mettre à la place de arrow2 !!!!  */ 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    line-height: 1;}
      

/* Carrousel */
.carrousel {
    position: relative;
    overflow: hidden;
    background-color: #D7E2E6;}
.slides {
    display: flex;
    transition: transform 0.5s ease;
    padding: 20px}
.slide {
    flex: 0 0 calc(60% / 3);
    text-align: center;
    margin: 20px;
    border-radius: 6px;
    background-color:white;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;}
.slide:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: lightgray;}
.slide img {
    width: auto;
    height: 291px;
    margin: 20px}
.slide h2{
    margin-top:0px;}
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(+125%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;}
.prev {
    left: 0;}
.next {
    right: 0;} 

    
.container{
    width: 900;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 0px 30px;}
.data.details{
    padding: 20px;
    margin:30px 10px;}
.data { 
    background: #D7E2E6;
    text-align: center;
    padding: 38px 0px 0px 0px;}       
.numbers{
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 0px;
    font-family: "Libre Baskerville", cursive;}  
.infos {
    font-size: 1.25rem;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Libre Baskerville", cursive;
    font-weight: 500;}     


.hero {
        background-image: url(images/photo1.jpg);
        background-size: cover;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 3em;
        text-transform: uppercase;
        letter-spacing: 5px;}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 20px 0px;
    cursor: pointer;}
.container-icones{
    background-color: #688792;
    justify-content: center; /* Centrer horizontalement */
    display: flex ;
    
}
.icone img{
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin: 20px;
}
.flèche-monte img{
    width: 75px;
    height: 30px;
    margin-top: 45px
    /* line-height: 80px; */
    /* margin: 20px; */
}
.flèche-descend img{
    width: 75px;
    height: 30px;
    margin-top: 85px
    /* line-height: 80px; */
    /* margin: 20px; */
}
.icone {
    display: flex;
    padding: 30px 0px 0px 0px;
    flex-direction:column;
    align-items: center; /* Centrer verticalement */
    width: 110px;

}
.flèche {
    display: flex;
    padding: 30px 0px 0px 0px;}

     
.card {
    display: flex;
    flex-direction:column;
    padding: 0px 24px 24px 24px;
    margin-bottom: 1.5rem;
    position: relative;
    width: 130px;
    text-align: center; }


        
.step-number {
    position: relative;
    margin:auto;
    top: -10px;
    left: -25px;
    width: 50px;
    height: 50px;
    background-color: #4CAF50;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
        }
        
.arrow2 {
    /* width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ccc; */
    position: absolute;
    /* right: 20px; */
    /* top: 85px; */
    top: 100%; /* Placer la flèche au bas de step-number */
    left: 50%; /* Placer la flèche au centre horizontalement */
    transform: translateX(-50%);
    /* background-color:#4CAF50; Déplacer la flèche vers la gauche de 50% de sa propre largeur */
        }
        
.card:last-child .arrow2 {
    display: none;
}

/* carrousel final */
.custom-slider { display: none; }
.slide-container {
  width: 400px;
  position: relative;
  margin: auto;
}
.prev, .next {
  cursor: pointer;
  position: absolute;        
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  background-color: rgba(0,0,0,0);
  transition: background-color 0.6s ease;
}
.prev{ left: 15px; }
.next { right: 15px; }
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
}
.slide-text {
  position: absolute;
  color: #ffffff;
  font-size: 15px;
  padding: 15px;
  bottom: 15px;
  width: 100%;
  text-align: center;
}
.slide-index {
  color: #ffffff;
  font-size: 13px;
  padding: 15px;
  position: absolute;
  top: 0;
}
.slide-img{ 
  width: 100%; 
  height: 300px;
  object-fit: cover;
  object-position: center;
 }
.slide-dot{ text-align: center;}
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #999999;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover { background-color: #111111; }
.fade {
  animation-name: fade;
  animation-duration: 1s;
}
@keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}